accelerate==1.2.1
beautifulsoup4==4.13.3
bitsandbytes==0.45.0
chromadb==0.6.3
datasets==3.2.0
deepspeed==0.16.2
evaluate==0.4.3
fastapi==0.115.12
gradio==5.23.3
graphviz==0.20.3
huggingface_hub==0.27.0
jieba==0.42.1
langchain==0.3.23
langchain_community==0.3.21
langchain_core==0.3.51
langchain_openai==0.3.12
langchain_text_splitters==0.3.8
langserve==0.3.1
matplotlib==3.10.1
modelscope==1.24.1
numpy==2.2.4
nvidia_ml_py==12.560.30
openai==1.70.0
pandas==2.2.3
peft==0.14.0
psutil==6.1.1
pydantic==2.11.2
pynvml==12.0.0
PyYAML==6.0.2
PyYAML==6.0.2
regex==2024.11.6
Requests==2.32.3
safetensors==0.5.3
scikit_learn==1.6.1
scipy==1.15.2
setuptools==72.1.0
sounddevice==0.5.1
streamlit==1.42.0
swanlab==0.5.5
torch==2.5.1
tqdm==4.67.1
transformers==4.49.0
trl==0.13.0
uvicorn==0.34.0
whisper==1.1.10
zhipuai==2.1.5.20250106
